{% extends 'base.html' %}

{% block title %}
Listagem de Estados
{% endblock title %}

{% block tituloPagina %}
Listagem de Estados
{% endblock tituloPagina %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sigla</th>
    </tr>
    </thead>
    <tbody>
    {% for estado in lista %}
    <tr>
        <td>{{ estado.nome_estado }}</td>
        <td>{{ estado.sigla_estado }}</td>
        <td>
        <a href="#">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
        </td>
        <td>
        <a href="#">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
        </td>


    </tr>
    {% endfor %}
    </tbody>

</table>
<a href="{% url 'protocolo_new' %}">
<button type="submit" class="btn btn-primary">
    Cadastrar
</button>
</a>
{% endblock content %}